body.home {
  background-color: #171941;
  background-image: url('../assets/dots.webp');
  background-size: contain;
  color: #fff;
}

main.home {
  position: relative;
  min-height: calc(100vh - 24px);
}

main.home > header {
  z-index: 1;
  display: flex;
  overflow: hidden;
  padding: 12px 24px;
  padding-top: 70px;
  position: relative;
  width: calc(100% - 48px);
}

.squares {
  z-index: -1;
  position: absolute;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
  overflow: hidden;
  border-radius: 20%;
  background: #3358f4;
  background: -webkit-linear-gradient(0deg, #3358f4 0%, #1d8cf8 100%);
  background: -webkit-gradient(linear, left bottom, left top, from(#3358f4), to(#1d8cf8));
  background: -webkit-linear-gradient(bottom, #3358f4 0%, #1d8cf8 100%);
  background: linear-gradient(0deg, #3358f4 0%, #1d8cf8 100%);
}
.squares.square1 {
  -webkit-animation: move-left-right 4s infinite;
  animation: move-left-right 4s infinite;
  height: 300px;
  width: 300px;
  opacity: 0.5;
  left: 3%;
  top: -21%;
}
.squares.square2 {
  -webkit-animation: move-left-right 6s infinite;
  animation: move-left-right 6s infinite;
  height: 400px;
  width: 400px;
  opacity: 0.4;
  right: -5%;
  top: -12%;
}
.squares.square3 {
  -webkit-animation: move-left-right 5s infinite;
  animation: move-left-right 5s infinite;
  height: 200px;
  width: 200px;
  opacity: 0.1;
  left: -5%;
  bottom: 0%;
}
.squares.square4 {
  -webkit-animation: move-left-right 10s infinite;
  animation: move-left-right 10s infinite;
  height: 100px;
  width: 100px;
  opacity: 0.9;
  right: 27%;
  top: 70%;
}
.squares.square5 {
  -webkit-animation: move-left-right 6s infinite;
  animation: move-left-right 6s infinite;
  height: 250px;
  width: 250px;
  opacity: 0.1;
  left: 32%;
  bottom: 29%;
}
.squares.square6 {
  -webkit-animation: move-left-right 9s infinite;
  animation: move-left-right 9s infinite;
  left: 10%;
  top: 35%;
  height: 80px;
  width: 80px;
  opacity: 0.8;
}
.squares.square7 {
  -webkit-animation: move-left-right 3s infinite;
  animation: move-left-right 3s infinite;
  width: 300px;
  height: 300px;
  right: -5%;
  bottom: 0%;
  opacity: 0.1;
}

main.home > .page-header {
  padding: 12px 24px;
  height: calc(100vh - 24px);
}
main.home > .page-header > .container {
  margin: auto;
  text-align: center;
}
main.home > .page-header > .container > img {
  width: 200px;
  height: auto;
}
main.home > .page-header > .container > h1 {
  color: #ffffff;
  font-weight: 600;
  text-transform: capitalize;
  font-size: 4em;
  line-height: 1.05;
}
main.home > .page-header > .container > h3 {
  font-size: 1.4em;
  color: #ffffff;
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
}

header.features {
  display: flex;
  flex-direction: column;
}
header#features > .feature {
  width: 100%;
  max-width: 1080px;
  display: flex;
  margin: 12px auto;
  flex-wrap: wrap;
}
header#features > .feature > .text {
  width: 60%;
  margin: auto;
}
header#features > .feature > .text:first-child {
  margin-left: 0px;
}
header#features > .feature > .text:last-child {
  margin-right: 0px;
}

@keyframes move-left-right {
  0% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  50% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
}
