.user-profile {
  display: flex;
  flex-direction: column;
  padding: 12px 24px;
  min-height: calc(100vh - 24px);
  --primary-color: #3d3d3d;
  --secondary-color: #fff;
  --shadow-color: #3d3d3d4d;
  --def: #96b7c4;
}
.user-profile.image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.user-profile > * {
  color: var(--primary-color);
  margin-left: auto;
  margin-right: auto;
}
.user-profile > .loading {
  margin: auto;
  width: 50px;
  height: 50px;
}

.user-profile > .user {
  display: flex;
  flex-direction: column;
}
.user-profile > .user > * {
  margin: 8px auto;
}
.user-profile > .user > img {
  width: 120px;
  height: 120px;
  border-radius: 60px;
  object-fit: cover;
  object-position: center;
  box-shadow: 0 1px 20px 0px rgba(0, 0, 0, 0.1);
}

.user-buttons {
  width: 100%;
  max-width: 350px;
  margin: 16px auto;
}

.user-button {
  display: flex;
  text-decoration: none;
  text-align: center;
  transition: 0.3s all ease-in-out;
  padding: 4px;
  margin: 12px auto;
  border: 2px solid transparent;
  font-size: 14pt;
  width: 100%;
  max-width: 300px;
}
.user-button > img {
  height: 30px;
  width: 30px;
  margin: auto 0px;
  object-fit: cover;
  z-index: 2;
}
.user-button > .user-button-text {
  margin: 0px auto;
  padding: 4px 12px;
  z-index: 2;
}

.user-button.round-solid > img,
.user-button.round-outline > img {
  border-radius: 15px;
}
.user-button.round-solid {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 100px;
}
.user-button.round-solid:hover {
  color: var(--primary-color);
  background-color: transparent;
}
.user-button.round-outline {
  color: var(--primary-color);
  border-color: var(--primary-color);
  background-color: transparent;
  border-radius: 100px;
}
.user-button.round-outline:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.user-button.solid {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: var(--secondary-color);
}
.user-button.solid:hover {
  color: var(--primary-color);
  background-color: transparent;
}

.user-button.outline {
  color: var(--primary-color);
  border-color: var(--primary-color);
  background-color: transparent;
}
.user-button.outline:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.user-button.semitransparent-white {
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}
.user-button.semitransparent-white:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.user-button.semitransparent-black {
  background-color: rgba(0, 0, 0, 0.2);
  color: #000;
}
.user-button.semitransparent-black:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.effect-btn {
  position: relative;
  padding: 1em 1.5em;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  font-size: 18px;
  margin: 1em 0.8em;
}
.effect-btn.type1 {
  color: var(--primary-color);
}
.effect-btn.type1.type1::after,
.effect-btn.type1.type1::before {
  content: '';
  display: block;
  position: absolute;
  width: 20%;
  height: 20%;
  border: 2px solid;
  transition: all 0.6s ease;
  border-radius: 2px;
}
.effect-btn.type1.type1::after {
  bottom: 0;
  right: 0;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: var(--primary-color);
  border-right-color: var(--primary-color);
}
.effect-btn.type1.type1::before {
  top: 0;
  left: 0;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-top-color: var(--primary-color);
  border-left-color: var(--primary-color);
}
.effect-btn.type1.type1:hover:after,
.effect-btn.type1.type1:hover:before {
  width: 100%;
  height: 100%;
}
.effect-btn.type2 {
  color: var(--primary-color);
}
.effect-btn.type2.type2:after,
.effect-btn.type2.type2:before {
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--primary-color);
  transition: all 0.3s ease;
  transform: scale(0.85);
}
.effect-btn.type2.type2:hover:before {
  top: 0;
  transform: scale(1);
}
.effect-btn.type2.type2:hover:after {
  transform: scale(1);
}
.effect-btn.type3 {
  color: var(--primary-color);
}
.effect-btn.type3.type3::after,
.effect-btn.type3.type3::before {
  content: '';
  display: block;
  position: absolute;
  width: 20%;
  height: 20%;
  border: 2px solid;
  transition: all 0.6s ease;
  border-radius: 2px;
}
.effect-btn.type3.type3::after {
  bottom: 0;
  right: 0;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: var(--primary-color);
  border-right-color: var(--primary-color);
}
.effect-btn.type3.type3::before {
  top: 0;
  left: 0;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-top-color: var(--primary-color);
  border-left-color: var(--primary-color);
}
.effect-btn.type3.type3:hover:after,
.effect-btn.type3.type3:hover:before {
  border-color: var(--primary-color);
  width: 100%;
  height: 100%;
}

.btn-bg-effect {
  position: relative;
  padding: 1em 2em;
  transition: all 600ms cubic-bezier(0.77, 0, 0.175, 1);
  cursor: pointer;
  border: 0px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--primary-color);
}
.btn-bg-effect:hover {
  transition-delay: 0.4s;
  color: var(--secondary-color);
}
.btn-bg-effect:before,
.btn-bg-effect:after {
  content: '';
  position: absolute;
  transition: inherit;
  z-index: 1;
}
.btn-bg-effect:hover:before {
  transition-delay: 0s;
}
.btn-bg-effect:hover:after {
  background: var(--primary-color);
  transition-delay: 0.4s;
}

.from-top:before,
.from-top:after {
  left: 0;
  height: 0;
  width: 100%;
}
.from-top:before {
  bottom: 0;
  border: 1px solid var(--primary-color);
  border-top: 0;
  border-bottom: 0;
}
.from-top:after {
  top: 0;
  height: 0;
}
.from-top:hover:before,
.from-top:hover:after {
  height: 100%;
}

.from-middle:before {
  top: 0;
  left: 50%;
  height: 100%;
  width: 0;
  border: 1px solid var(--primary-color);
  border-left: 0;
  border-right: 0;
}
.from-middle:after {
  bottom: 0;
  left: 0;
  height: 0;
  width: 100%;
  background: var(--primary-color);
}
.from-middle:hover:before {
  left: 0;
  width: 100%;
}
.from-middle:hover:after {
  top: 0;
  height: 100%;
}

.from-bottom:before,
.from-bottom:after {
  left: 0;
  height: 0;
  width: 100%;
}
.from-bottom:before {
  top: 0;
  border: 1px solid var(--primary-color);
  border-top: 0;
  border-bottom: 0;
}
.from-bottom:after {
  bottom: 0;
  height: 0;
}
.from-bottom:hover:before,
.from-bottom:hover:after {
  height: 100%;
}

.user-socialLinks {
  margin-top: auto;
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  margin-bottom: 50px;
}
.demo .user-socialLinks {
  margin-bottom: 0px;
}
.user-social {
  color: var(--primary-color);
  text-decoration: none;
  padding: 8px 12px;
  margin-right: 8px;
  display: flex;
}
.user-social > .flaticon::before {
  color: var(--primary-color);
}
.user-social > i {
  margin: auto;
}
.user-social:first-of-type {
  margin-left: auto;
}
.user-social:last-of-type {
  margin-right: auto;
}
