.user-profile {
  display: flex;
  flex-direction: column;
  padding: 12px 24px;
  background: #fff;
  min-height: calc(100vh - 24px);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  --primary-color: #3d3d3d;
  --secondary-color: #fff;
  --shadow-color: #3d3d3d4d;
}
.user-profile > * {
  color: var(--primary-color);
  margin-left: auto;
  margin-right: auto;
}
.user-profile > .loading {
  margin: auto;
  width: 50px;
  height: 50px;
}

.user-profile > .user {
  display: flex;
  flex-direction: column;
}
.user-profile > .user > * {
  margin: 8px auto;
}
.user-profile > .user > img {
  width: 120px;
  height: 120px;
  border-radius: 60px;
  object-fit: cover;
  object-position: center;
  box-shadow: 0 1px 20px 0px rgba(0, 0, 0, 0.1);
}

.user-buttons {
  width: 100%;
  max-width: 350px;
  margin: 16px auto;
}

.user-button {
  display: flex;
  text-decoration: none;
  text-align: center;
  transition: 0.3s all ease-in-out;
  padding: 4px;
  margin: 12px auto;
  border: 2px solid transparent;
  font-size: 14pt;
  width: 100%;
  max-width: 300px;
}
.user-button > img {
  height: 30px;
  width: 30px;
  margin: auto 0px;
  object-fit: cover;
}
.user-button > span {
  margin: 0px auto;
  padding: 4px 12px;
}

.user-button.round-solid > img,
.user-button.round-outline > img {
  border-radius: 15px;
}
.user-button.round-solid {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 100px;
}
.user-button.round-solid:hover {
  color: var(--primary-color);
  background-color: transparent;
}
.user-button.round-outline {
  color: var(--primary-color);
  border-color: var(--primary-color);
  background-color: transparent;
  border-radius: 100px;
}
.user-button.round-outline:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.user-button.solid {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: var(--secondary-color);
}
.user-button.solid:hover {
  color: var(--primary-color);
  background-color: transparent;
}

.user-button.outline {
  color: var(--primary-color);
  border-color: var(--primary-color);
  background-color: transparent;
}
.user-button.outline:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.user-button.semitransparent-white {
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}
.user-button.semitransparent-white:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.user-button.semitransparent-black {
  background-color: rgba(0, 0, 0, 0.2);
  color: #000;
}
.user-button.semitransparent-black:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.user-socialLinks {
  margin-top: auto;
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  margin-bottom: 50px;
}
.demo .user-socialLinks {
  margin-bottom: 0px;
}
.user-social {
  color: var(--primary-color);
  text-decoration: none;
  padding: 8px 12px;
  margin-right: 8px;
  display: flex;
}
.user-social > .flaticon::before {
  color: var(--primary-color);
}
.user-social > i {
  margin: auto;
}
.user-social:first-of-type {
  margin-left: auto;
}
.user-social:last-of-type {
  margin-right: auto;
}
